@font-face {
    font-family: 'CustomFont';
    src: url('../assets/fonts//Caveat-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: 'CustomFont', sans-serif;
}

#image1 {
    position: absolute;
    top: 50px;
    left: 50px;
}

#image2 {
    position: absolute;
    top: 100px;
    left: 100px;
}