@font-face {
    font-family: 'CustomFont';
    src: url('../assets/fonts/Caveat-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: 'CustomFont', 'Brush Script MT', 'Lucida Handwriting', 'Comic Sans MS', cursive, sans-serif;
    background-color: #f9f8f2;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 100%;
}

#main-header {
    text-align: center;
    padding-top: 10px;
    font-size: 36px;
    background-color: transparent;
}

#countdown {
    text-align: center;
    font-size: 24px;
    margin-top: 3px;
    height: auto;
}

#ceremony_img {
    display: block;
    width: 50%;
    height: auto;
    margin: 0 auto;
}

#main-paragraph {
    text-align: center;
    padding: 0px;
    font-size: 20px;
    margin-top: 10px;
}

#wedding-details {
    text-align: center;
    font-size: 18px;
}

#wedding-details p {
    margin: 10px 20;
}

#foot {
    text-align: right;
    font-size: 18px;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    font-size: 24px;
}

nav {
    width: 100%;
    height: 100px;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav li a {
    text-decoration: none;
    color: black;
}

/* welcome page */
.welcome-page {
    /* This rule applies to any HTML element with class="welcome-page" */
    text-align: center; /* Centers the text horizontally for the welcome page */
    color: black; /* Sets the text color to black for the welcome page */
    font-size: 2em; /* Sets the font size to 2em (2 times the current font size) for the welcome page */
    display: flex; /* Enables flexbox, a layout mode providing for the arrangement of elements on the welcome page */
    flex-direction: column; /* Stacks the flex items vertically (not horizontally) on the welcome page */
    justify-content: flex-start; /* Aligns the flex items at the start of the welcome page */
    align-items: center; /* Centers the flex items along the horizontal line on the welcome page */
    height: 100vh; /* Sets the height of the welcome page to 100% of the viewport's height */
    padding-top: 20px; /* Adds a 20px padding at the top of the welcome page */
}

#shell_img {
    /* This rule applies to the HTML element with id="shell", which is the image on the welcome page */
    width: 25%; /* Sets the width of the image to 50% of its container's width */
    height: auto; /* Sets the height of the image to scale automatically (to maintain its aspect ratio) */
}

.welcome-page h1, .welcome-page p {
    /* This rule applies to the h1 and p elements inside any HTML element with class="welcome-page" */
    margin: 0; /* Removes the default margin from the h1 and p elements on the welcome page */
}

.welcome-page a {
    /* This rule applies to the a (link) element inside any HTML element with class="welcome-page" */
    color: black; /* Sets the text color of the link to black on the welcome page */
    text-decoration: none; /* Removes the underline from the link on the welcome page */
    padding: 10px; /* Adds a 10px padding around the link on the welcome page */
    margin-top: 20px; /* Adds a 20px margin at the top of the link on the welcome page */
}

/* about page */
.about-us {
    text-align: center; /* Centers the text horizontally for the welcome page */
    color: black; /* Sets the text color to black for the welcome page */
    font-size: 1.5em; 
}
#page-title {
    position: absolute;
    top: 80px; /* Increase this value to move the title down */
    left: 40px;
    font-size: 3.5em;
}

#about_img {
    display: block;
    width: 30%;
    height: auto;
    margin: 0 auto;
}

/* rsvp page */
.rsvp {
    text-align: center;
}
#rsvp_img {
    width: 60%;
    height: auto;
}